{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UmatLapar</title>
    {% tailwind_css %}
</head>
<body>
    <div >
        <p>Logged in as {{ username }}</p>
        <h1>Menu Recommendations for {{ username }}</h1>

        {% for menu in recommended_menus %}
        <div>
            <h3>{{ menu.namaMenu }}</h3>
            <p>Average Rating: {{ menu.average_rating }}</p> 
        </div>
        {% endfor %}
    </div>
</body>
</html>